<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="LingPDF"
           Language="1033"
           Version="1.0.0"
           Manufacturer="LingPDF Team"
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200"
             Compressed="yes"
             InstallScope="perMachine"
             Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="LingPDF" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>

    <Icon Id="AppIcon.ico" SourceFile="resources\\windows\\icon.ico" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.ico" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="LingPDF">
          <Component Id="MainExecutable" Guid="*">
            <File Id="lingpdf.exe" Source="target\\release\\lingpdf.exe" KeyPath="yes">
              <Shortcut Id="StartMenuShortcut"
                        Directory="ProgramMenuFolder"
                        Name="LingPDF"
                        WorkingDirectory="INSTALLFOLDER"
                        Icon="AppIcon.ico"
                        Advertise="yes" />
            </File>
          </Component>
          <Component Id="PdfiumDLL" Guid="*">
            <File Id="pdfium.dll" Source="lib\\pdfium.dll" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ApplicationProgramsFolder" Name="LingPDF">
          <Component Id="ApplicationShortcut" Guid="*">
            <Shortcut Id="ApplicationStartMenuShortcut"
                      Name="LingPDF"
                      Description="A lightweight PDF reader"
                      Target="[#lingpdf.exe]"
                      WorkingDirectory="INSTALLFOLDER"
                      Icon="AppIcon.ico" />
            <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\\LingPDF" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="PdfiumDLL" />
    </ComponentGroup>
  </Product>
</Wix>
